header {
    text-align: center;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

body, html {
    height: 100%;
    font-family: 'Courier New', Courier, monospace; 
}

header{
  text-align: left;
  color: #ff0505;
}

h2{
  text-align: left;
  color: #ff0505;
}
 .para-exsternal{
  text-align: left;
  color: #000000;

 }
  
 table{
  color: #000000;
 }
  p{
    color: #ce4646;
  }

.para-exsternal {
  color: #000000;
  background-color: #9c46ce;
}

.para {
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
  border: 2px solid #9c46ce;
  padding: 20px;
}